Project/openssl-3
Project/Server/build-Server-Desktop_Qt_6_3_0_MinGW_64_bit-Debug
.DS_Store
Project/Server/build-Server-Desktop_Qt_6_3_0_MinGW_64_bit-Debug
Project/Client/build-Client-Desktop_Qt_6_3_0_MinGW_64_bit-Debug
Project/Client/build-Client-Desktop_Qt_6_3_0_MinGW_64_bit-Debug
