Project/openssl-3
C:\Users\User\Documents\LPR\Laborpraktikum\Project\Server\build-Server-Desktop_Qt_6_3_0_MinGW_64_bit-Debug
C:\Users\User\Documents\LPR\Laborpraktikum\Project\Client\build-Client-Desktop_Qt_6_3_0_MinGW_64_bit-Debug